<footer class="container-fluid bg-theme text-center text-theme2">
  <div class=" ">
    <a href="">العروض</a>
    <a href="">البيتزا</a>
    <a href="">المقبلات</a>
    <a href="">الحلويات والمشروبات</a>
  </div>
  <div>
    <a href="">الصفحة الرئيسية</a>
    <a href="">الجودة</a>
    <a href=""> الفروع</a>
    <a href=""> وظائف</a>
    <a routerLink="customer-service"> خدمة العملاء</a>
    <a href=""> اتصل بنا</a>
    <a href=""> سياسة الخصوصية</a>
  </div>
  <div>
    <a href="https://www.facebook.com/PapaJohnsEgypt/" target="_blank"
      ><img src="assets/icons/fbicon.png" alt=""
    /></a>

    <a href="https://www.instagram.com/papajohnsegypt/" target="_blank"
      ><img src="assets/icons/ins-icon.png" alt=""
    /></a>
  </div>
  <div class="copy">© 2025 بابا جونز مصر</div>
  <p class="developer py-2">
    تطوير الموقع
    <a href="http://www.webandart.com" target="_blank">webandart.com </a>
  </p>
</footer>
