<div class="container">
  <div class="intro-content">
    <h1>البيتزا</h1>
  </div>
</div>

<div class="container">
  <div class="row justify-content-around">
    <!-- start col -->
    <div class="column col-sm-6 col-md-4 col-lg-3">
      <div class="pizza">
        <img src="assets/products/Margherita.jpg" class="img-fluid" alt="..." />

        <h6>مارجريتا</h6>
        <div class="pizza-description">
          <p>جبنة موتزاريلا و صوص البيتزا</p>
        </div>
        <div class="pizza-crust text-center">
          <h3>اوريجينال كرست</h3>
          <a href="#" class="pizza-button">
            <div class="pizza-button-size">صغير</div>

            <div class="pizza-button-price">102 L.E</div>
          </a>
          <a href="#" class="pizza-button">
            <div class="pizza-button-size">وسط</div>

            <div class="pizza-button-price">102 L.E</div>
          </a>
          <a href="#" class="pizza-button">
            <div class="pizza-button-size">كبير</div>

            <div class="pizza-button-price">102 L.E</div>
          </a>
          <a href="#" class="pizza-button">
            <div class="pizza-button-size">عائلى</div>

            <div class="pizza-button-price">102 L.E</div>
          </a>
        </div>
        <div></div>
        <div class="thin-crunchy d-inline-block w-50 text-center">
          <h3 class="text-center">رفيعة و مقرمشة</h3>
          <a
            href="#"
            class="pizza-button bg-dark"
            style="width: 44.44444444444444%"
          >
            <div class="pizza-button-size">كبير</div>
            <div class="pizza-button-price">243 L.E</div>
          </a>
        </div>
        <div class="stuffed-crust d-inline-block w-50">
          <h3 class="text-center">ستافت كرست</h3>
          <a href="#" class="pizza-button" style="width: 44.44444444444444%">
            <div class="pizza-button-size">وسط</div>
            <div class="pizza-button-price">235 L.E</div>
          </a>
          <a href="#" class="pizza-button" style="width: 44.44444444444444%">
            <div class="pizza-button-size">كبير</div>
            <div class="pizza-button-price">323 L.E</div>
          </a>
        </div>
        <div class="cheese-crust text-center">
          <h3>تشيز. كرست</h3>
          <a href="#" class="pizza-button w-25">
            <div class="pizza-button-size">وسط</div>
            <div class="pizza-button-price">219 L.E</div>
          </a>
          <a href="#" class="pizza-button w-25">
            <div class="pizza-button-size">كبير</div>
            <div class="pizza-button-price">312 L.E</div>
          </a>
        </div>
      </div>
    </div>
    <!-- end col -->

    <!-- start col -->
    <div class="column col-sm-6 col-md-4 col-lg-3">
      <div class="pizza">
        <img
          src="assets/products/6-Cheese.jpg"
          class="img-fluid"
          alt="6 تشيز"
        />

        <h6>6 تشيز</h6>
        <div class="pizza-description">
          <p>
            ست انواع لذيذه من الجبن فى بيتزا واحده (جوده، شيدر،رومانوا،
            موتزاريلا ،ايدام،امنتال)
          </p>
        </div>
        <div class="pizza-crust text-center">
          <h3>اوريجينال كرست</h3>
          <a href="#" class="pizza-button">
            <div class="pizza-button-size">صغير</div>

            <div class="pizza-button-price">102 L.E</div>
          </a>
          <a href="#" class="pizza-button">
            <div class="pizza-button-size">وسط</div>

            <div class="pizza-button-price">102 L.E</div>
          </a>
          <a href="#" class="pizza-button">
            <div class="pizza-button-size">كبير</div>

            <div class="pizza-button-price">102 L.E</div>
          </a>
        </div>
        <div></div>
        <div class="thin-crunchy d-inline-block w-50 text-center">
          <h3 class="text-center">رفيعة و مقرمشة</h3>
          <a
            href="#"
            class="pizza-button bg-dark"
            style="width: 44.44444444444444%"
          >
            <div class="pizza-button-size">كبير</div>
            <div class="pizza-button-price">243 L.E</div>
          </a>
        </div>
        <div class="stuffed-crust d-inline-block w-50">
          <h3 class="text-center">ستافت كرست</h3>
          <a href="#" class="pizza-button" style="width: 44.44444444444444%">
            <div class="pizza-button-size">وسط</div>
            <div class="pizza-button-price">235 L.E</div>
          </a>
          <a href="#" class="pizza-button" style="width: 44.44444444444444%">
            <div class="pizza-button-size">كبير</div>
            <div class="pizza-button-price">323 L.E</div>
          </a>
        </div>
        <div class="cheese-crust text-center">
          <h3>تشيز. كرست</h3>
          <a href="#" class="pizza-button w-25">
            <div class="pizza-button-size">وسط</div>
            <div class="pizza-button-price">219 L.E</div>
          </a>
          <a href="#" class="pizza-button w-25">
            <div class="pizza-button-size">كبير</div>
            <div class="pizza-button-price">312 L.E</div>
          </a>
        </div>
      </div>
    </div>
    <!-- end col -->

    <!-- start col -->
    <div class="column col-sm-6 col-md-4 col-lg-3">
      <div class="pizza">
        <img
          src="assets/products/3-Cheese-2-Toppings.jpg"
          class="img-fluid"
          alt="3 تشيز  2X  توبينج"
        />

        <h6>3 تشيز 2X توبينج</h6>
        <div class="pizza-description">
          <p>
            ثلاثه انواع من الجبن مع اضافتين من اختيارك (خضروات، لحوم، أو دجاج)
          </p>
        </div>
        <div class="pizza-crust text-center">
          <h3>اوريجينال كرست</h3>
          <a href="#" class="pizza-button">
            <div class="pizza-button-size">صغير</div>

            <div class="pizza-button-price">102 L.E</div>
          </a>
          <a href="#" class="pizza-button">
            <div class="pizza-button-size">وسط</div>

            <div class="pizza-button-price">102 L.E</div>
          </a>
          <a href="#" class="pizza-button">
            <div class="pizza-button-size">كبير</div>

            <div class="pizza-button-price">102 L.E</div>
          </a>
          <a href="#" class="pizza-button">
            <div class="pizza-button-size">عائلى</div>

            <div class="pizza-button-price">102 L.E</div>
          </a>
        </div>
        <div></div>
        <div class="thin-crunchy d-inline-block w-50 text-center">
          <h3 class="text-center">رفيعة و مقرمشة</h3>
          <a
            href="#"
            class="pizza-button bg-dark"
            style="width: 44.44444444444444%"
          >
            <div class="pizza-button-size">كبير</div>
            <div class="pizza-button-price">243 L.E</div>
          </a>
        </div>
        <div class="stuffed-crust d-inline-block w-50">
          <h3 class="text-center">ستافت كرست</h3>
          <a href="#" class="pizza-button" style="width: 44.44444444444444%">
            <div class="pizza-button-size">وسط</div>
            <div class="pizza-button-price">235 L.E</div>
          </a>
          <a href="#" class="pizza-button" style="width: 44.44444444444444%">
            <div class="pizza-button-size">كبير</div>
            <div class="pizza-button-price">323 L.E</div>
          </a>
        </div>
        <div class="cheese-crust text-center">
          <h3>تشيز. كرست</h3>
          <a href="#" class="pizza-button w-25">
            <div class="pizza-button-size">وسط</div>
            <div class="pizza-button-price">219 L.E</div>
          </a>
          <a href="#" class="pizza-button w-25">
            <div class="pizza-button-size">كبير</div>
            <div class="pizza-button-price">312 L.E</div>
          </a>
        </div>
      </div>
    </div>
    <!-- end col -->

    <!-- start col -->
    <div class="column col-sm-6 col-md-4 col-lg-3">
      <div class="pizza">
        <img
          src="assets/products/Margherita.jpg"
          class="img-fluid"
          alt="سوبر بابا"
        />

        <h6>سوبر بابا</h6>
        <div class="pizza-description">
          <p>
            بيبرونى, سجق ايطالي, لحم بتلو مدخن, بصل, فلفل اخضر, مشروم طازج,
            زيتون اسود
          </p>
        </div>
        <div class="pizza-crust text-center">
          <h3>اوريجينال كرست</h3>
          <a href="#" class="pizza-button">
            <div class="pizza-button-size">صغير</div>

            <div class="pizza-button-price">102 L.E</div>
          </a>
          <a href="#" class="pizza-button">
            <div class="pizza-button-size">وسط</div>

            <div class="pizza-button-price">102 L.E</div>
          </a>
          <a href="#" class="pizza-button">
            <div class="pizza-button-size">كبير</div>

            <div class="pizza-button-price">102 L.E</div>
          </a>
          <a href="#" class="pizza-button">
            <div class="pizza-button-size">عائلى</div>

            <div class="pizza-button-price">102 L.E</div>
          </a>
        </div>
        <div></div>
        <div class="thin-crunchy d-inline-block w-50 text-center">
          <h3 class="text-center">رفيعة و مقرمشة</h3>
          <a
            href="#"
            class="pizza-button bg-dark"
            style="width: 44.44444444444444%"
          >
            <div class="pizza-button-size">كبير</div>
            <div class="pizza-button-price">243 L.E</div>
          </a>
        </div>
        <div class="stuffed-crust d-inline-block w-50">
          <h3 class="text-center">ستافت كرست</h3>
          <a href="#" class="pizza-button" style="width: 44.44444444444444%">
            <div class="pizza-button-size">وسط</div>
            <div class="pizza-button-price">235 L.E</div>
          </a>
          <a href="#" class="pizza-button" style="width: 44.44444444444444%">
            <div class="pizza-button-size">كبير</div>
            <div class="pizza-button-price">323 L.E</div>
          </a>
        </div>
        <div class="cheese-crust text-center">
          <h3>تشيز. كرست</h3>
          <a href="#" class="pizza-button w-25">
            <div class="pizza-button-size">وسط</div>
            <div class="pizza-button-price">219 L.E</div>
          </a>
          <a href="#" class="pizza-button w-25">
            <div class="pizza-button-size">كبير</div>
            <div class="pizza-button-price">312 L.E</div>
          </a>
        </div>
      </div>
    </div>
    <!-- end col -->

    <div class="column">
      <div class="pizza">
        <img src="assets/products/Margherita.jpg" class="img-fluid" alt="..." />

        <h6>مارجريتا</h6>
        <div class="pizza-description">
          <p>جبنة موتزاريلا و صوص البيتزا</p>
        </div>
        <div class="pizza-crust text-center">
          <h3>اوريجينال كرست</h3>
          <a href="#" class="pizza-button">
            <div class="pizza-button-size">صغير</div>

            <div class="pizza-button-price">102 L.E</div>
          </a>
          <a href="#" class="pizza-button">
            <div class="pizza-button-size">وسط</div>

            <div class="pizza-button-price">102 L.E</div>
          </a>
          <a href="#" class="pizza-button">
            <div class="pizza-button-size">كبير</div>

            <div class="pizza-button-price">102 L.E</div>
          </a>
          <a href="#" class="pizza-button">
            <div class="pizza-button-size">عائلى</div>

            <div class="pizza-button-price">102 L.E</div>
          </a>
        </div>
        <div></div>
        <div class="thin-crunchy d-inline-block w-50 text-center">
          <h3 class="text-center">رفيعة و مقرمشة</h3>
          <a
            href="#"
            class="pizza-button bg-dark"
            style="width: 44.44444444444444%"
          >
            <div class="pizza-button-size">كبير</div>
            <div class="pizza-button-price">243 L.E</div>
          </a>
        </div>
        <div class="stuffed-crust d-inline-block w-50">
          <h3 class="text-center">ستافت كرست</h3>
          <a href="#" class="pizza-button" style="width: 44.44444444444444%">
            <div class="pizza-button-size">وسط</div>
            <div class="pizza-button-price">235 L.E</div>
          </a>
          <a href="#" class="pizza-button" style="width: 44.44444444444444%">
            <div class="pizza-button-size">كبير</div>
            <div class="pizza-button-price">323 L.E</div>
          </a>
        </div>
        <div class="cheese-crust text-center">
          <h3>تشيز. كرست</h3>
          <a href="#" class="pizza-button w-25">
            <div class="pizza-button-size">وسط</div>
            <div class="pizza-button-price">219 L.E</div>
          </a>
          <a href="#" class="pizza-button w-25">
            <div class="pizza-button-size">كبير</div>
            <div class="pizza-button-price">312 L.E</div>
          </a>
        </div>
      </div>
    </div>
    <!-- end col -->

    <!-- start col -->
    <div class="column">
      <div class="pizza">
        <img
          src="assets/products/6-Cheese.jpg"
          class="img-fluid"
          alt="6 تشيز"
        />

        <h6>6 تشيز</h6>
        <div class="pizza-description">
          <p>
            ست انواع لذيذه من الجبن فى بيتزا واحده (جوده، شيدر،رومانوا،
            موتزاريلا ،ايدام،امنتال)
          </p>
        </div>
        <div class="pizza-crust text-center">
          <h3>اوريجينال كرست</h3>
          <a href="#" class="pizza-button">
            <div class="pizza-button-size">صغير</div>

            <div class="pizza-button-price">102 L.E</div>
          </a>
          <a href="#" class="pizza-button">
            <div class="pizza-button-size">وسط</div>

            <div class="pizza-button-price">102 L.E</div>
          </a>
          <a href="#" class="pizza-button">
            <div class="pizza-button-size">كبير</div>

            <div class="pizza-button-price">102 L.E</div>
          </a>
        </div>
        <div></div>
        <div class="thin-crunchy d-inline-block w-50 text-center">
          <h3 class="text-center">رفيعة و مقرمشة</h3>
          <a
            href="#"
            class="pizza-button bg-dark"
            style="width: 44.44444444444444%"
          >
            <div class="pizza-button-size">كبير</div>
            <div class="pizza-button-price">243 L.E</div>
          </a>
        </div>
        <div class="stuffed-crust d-inline-block w-50">
          <h3 class="text-center">ستافت كرست</h3>
          <a href="#" class="pizza-button" style="width: 44.44444444444444%">
            <div class="pizza-button-size">وسط</div>
            <div class="pizza-button-price">235 L.E</div>
          </a>
          <a href="#" class="pizza-button" style="width: 44.44444444444444%">
            <div class="pizza-button-size">كبير</div>
            <div class="pizza-button-price">323 L.E</div>
          </a>
        </div>
        <div class="cheese-crust text-center">
          <h3>تشيز. كرست</h3>
          <a href="#" class="pizza-button w-25">
            <div class="pizza-button-size">وسط</div>
            <div class="pizza-button-price">219 L.E</div>
          </a>
          <a href="#" class="pizza-button w-25">
            <div class="pizza-button-size">كبير</div>
            <div class="pizza-button-price">312 L.E</div>
          </a>
        </div>
      </div>
    </div>
    <!-- end col -->

    <!-- start col -->
    <div class="column">
      <div class="pizza">
        <img
          src="assets/products/3-Cheese-2-Toppings.jpg"
          class="img-fluid"
          alt="3 تشيز  2X  توبينج"
        />

        <h6>3 تشيز 2X توبينج</h6>
        <div class="pizza-description">
          <p>
            ثلاثه انواع من الجبن مع اضافتين من اختيارك (خضروات، لحوم، أو دجاج)
          </p>
        </div>
        <div class="pizza-crust text-center">
          <h3>اوريجينال كرست</h3>
          <a href="#" class="pizza-button">
            <div class="pizza-button-size">صغير</div>

            <div class="pizza-button-price">102 L.E</div>
          </a>
          <a href="#" class="pizza-button">
            <div class="pizza-button-size">وسط</div>

            <div class="pizza-button-price">102 L.E</div>
          </a>
          <a href="#" class="pizza-button">
            <div class="pizza-button-size">كبير</div>

            <div class="pizza-button-price">102 L.E</div>
          </a>
          <a href="#" class="pizza-button">
            <div class="pizza-button-size">عائلى</div>

            <div class="pizza-button-price">102 L.E</div>
          </a>
        </div>
        <div></div>
        <div class="thin-crunchy d-inline-block w-50 text-center">
          <h3 class="text-center">رفيعة و مقرمشة</h3>
          <a
            href="#"
            class="pizza-button bg-dark"
            style="width: 44.44444444444444%"
          >
            <div class="pizza-button-size">كبير</div>
            <div class="pizza-button-price">243 L.E</div>
          </a>
        </div>
        <div class="stuffed-crust d-inline-block w-50">
          <h3 class="text-center">ستافت كرست</h3>
          <a href="#" class="pizza-button" style="width: 44.44444444444444%">
            <div class="pizza-button-size">وسط</div>
            <div class="pizza-button-price">235 L.E</div>
          </a>
          <a href="#" class="pizza-button" style="width: 44.44444444444444%">
            <div class="pizza-button-size">كبير</div>
            <div class="pizza-button-price">323 L.E</div>
          </a>
        </div>
        <div class="cheese-crust text-center">
          <h3>تشيز. كرست</h3>
          <a href="#" class="pizza-button w-25">
            <div class="pizza-button-size">وسط</div>
            <div class="pizza-button-price">219 L.E</div>
          </a>
          <a href="#" class="pizza-button w-25">
            <div class="pizza-button-size">كبير</div>
            <div class="pizza-button-price">312 L.E</div>
          </a>
        </div>
      </div>
    </div>
    <!-- end col -->

    <!-- start col -->
    <div class="column">
      <div class="pizza">
        <img
          src="assets/products/Margherita.jpg"
          class="img-fluid"
          alt="سوبر بابا"
        />

        <h6>سوبر بابا</h6>
        <div class="pizza-description">
          <p>
            بيبرونى, سجق ايطالي, لحم بتلو مدخن, بصل, فلفل اخضر, مشروم طازج,
            زيتون اسود
          </p>
        </div>
        <div class="pizza-crust text-center">
          <h3>اوريجينال كرست</h3>
          <a href="#" class="pizza-button">
            <div class="pizza-button-size">صغير</div>

            <div class="pizza-button-price">102 L.E</div>
          </a>
          <a href="#" class="pizza-button">
            <div class="pizza-button-size">وسط</div>

            <div class="pizza-button-price">102 L.E</div>
          </a>
          <a href="#" class="pizza-button">
            <div class="pizza-button-size">كبير</div>

            <div class="pizza-button-price">102 L.E</div>
          </a>
          <a href="#" class="pizza-button">
            <div class="pizza-button-size">عائلى</div>

            <div class="pizza-button-price">102 L.E</div>
          </a>
        </div>
        <div></div>
        <div class="thin-crunchy d-inline-block w-50 text-center">
          <h3 class="text-center">رفيعة و مقرمشة</h3>
          <a
            href="#"
            class="pizza-button bg-dark"
            style="width: 44.44444444444444%"
          >
            <div class="pizza-button-size">كبير</div>
            <div class="pizza-button-price">243 L.E</div>
          </a>
        </div>
        <div class="stuffed-crust d-inline-block w-50">
          <h3 class="text-center">ستافت كرست</h3>
          <a href="#" class="pizza-button" style="width: 44.44444444444444%">
            <div class="pizza-button-size">وسط</div>
            <div class="pizza-button-price">235 L.E</div>
          </a>
          <a href="#" class="pizza-button" style="width: 44.44444444444444%">
            <div class="pizza-button-size">كبير</div>
            <div class="pizza-button-price">323 L.E</div>
          </a>
        </div>
        <div class="cheese-crust text-center">
          <h3>تشيز. كرست</h3>
          <a href="#" class="pizza-button w-25">
            <div class="pizza-button-size">وسط</div>
            <div class="pizza-button-price">219 L.E</div>
          </a>
          <a href="#" class="pizza-button w-25">
            <div class="pizza-button-size">كبير</div>
            <div class="pizza-button-price">312 L.E</div>
          </a>
        </div>
      </div>
    </div>
    <!-- end col -->
  </div>
</div>
