<!-- image slider -->
<app-image-slider></app-image-slider>
<!-- start pizza container -->
<div class="container mb-4 home-container">
  <div class="row justify-content-lg-around">
    <div class="card col-md-6 col-lg-3">
      <img src="assets/images/menu-icon.jpg" class="card-img-top" alt="..." />
      <div class="card-body mx-auto">
        <a class="btn-green fw-semibold" routerLink="/pizzas"
          >عرض قائمة الطعام</a
        >
      </div>
    </div>

    <div class="card col-md-6 col-lg-3">
      <img src="assets/images/branches-wp.jpg" class="card-img-top" alt="..." />
      <div class="card-body mx-auto">
        <a class="btn-green fw-semibold" routerLink="/branches">الفروع</a>
      </div>
    </div>

    <div class="card col-md-6 col-lg-3">
      <img
        src="assets/images/better-better-wp.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body mx-auto">
        <a class="btn-green fw-semibold" routerLink="/branches">عرض الجودة</a>
      </div>
    </div>

    <div class="card col-md-6 col-lg-3">
      <img src="assets/images/careers-wp.jpg" class="card-img-top" alt="..." />
      <div class="card-body mx-auto">
        <a class="btn-green fw-semibold" routerLink="/careers">الوظائف</a>
      </div>
    </div>
  </div>
</div>
<!-- end pizza container -->
