<div class="container py-5">
  <h1 class="text-dark fw-bold text-center">فروعنا</h1>
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="select-area-wrapper">
        <select class="form-select" id="areaSelect">
          <option value="">اختر المنطقة</option>
          <option value="اكتوبر">اكتوبر</option>
          <option value="الاسكندرية">الاسكندرية</option>
          <option value="التجمع">التجمع</option>
          <option value="الدقي">الدقي</option>
          <option value="الرحاب">الرحاب</option>
          <option value="الساحل-الشمالي">الساحل الشمالي</option>
          <option value="الشروق">الشروق</option>
          <option value="العبور">العبور</option>
          <option value="المعادي">المعادي</option>
          <option value="المنصورة">المنصورة</option>
          <option value="المهندسين">المهندسين</option>
          <option value="الهرم">الهرم</option>
          <option value="شبرا">شبرا</option>
          <option value="طنطا">طنطا</option>
          <option value="عباسية">عباسية</option>
          <option value="مدينة-نصر">مدينة نصر</option>
          <option value="مدينتي">مدينتي</option>
          <option value="مصر-الجديدة">مصر الجديدة</option>
          <option value="مقطم">مقطم</option>
          <option value="منيل">منيل</option>
        </select>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row gap-4"></div>
</div>
